<header class="header">
  <div class="container header__container">

    <a class="logo" href="#">
      <svg class="logo__icon" width="100" height="12">
        <use href="./images/icons.svg#icon-bose-logo-2"></use>
      </svg>
    </a>

    <nav class="site-nav" data-menu>
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link" href="#characteristics">Characteristics</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#history">History</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#reviews">Reviews</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#order">Payment and delivery</a>
        </li>
      </ul>
    </nav>

    <button class="header__menu-button" data-menu-open>
      <svg width="22" height="12">
        <!-- <use class="header__menu-icon" href="./images/icons.svg#icon-hamburger"></use> -->
        <use class="header__menu-icon" href="./images/icons.svg#icon-close-large"></use>
      </svg>
    </button>

  </div>
</header>