@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Roboto Condensed/RobotoCondensed-Regular.ttf");
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url("../fonts/Roboto Condensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

button {
  cursor: pointer;
  padding: 0;
  color: inherit;
  border: none;
}

body {
  font-family: "Gilroy";
  color: rgba(255, 255, 255, 0.8);
  background-color: #191919;
}

body.scroll-lock {
  overflow: hidden;
}

.container {
  --padding: 20px;
  max-width: 480px;
  padding-left: var(--padding);
  padding-right: var(--padding);
}
@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    --padding: 60px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    --padding: 190px;
    max-width: 1440px;
  }
}

.section {
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 170px;
  }
}

.section__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 54px;
  }
}

.section__subtitle {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: #e7e7e7;
}
@media screen and (min-width: 1440px) {
  .section__subtitle {
    margin-bottom: 20px;
    font-size: 28px;
  }
}

.section__text {
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 768px) {
  .section__text {
    font-size: 16px;
    line-height: 1.45;
  }
}
@media screen and (min-width: 1440px) {
  .section__text {
    font-size: 20px;
  }
}

.guarantee__list {
  list-style: none;
}

.guarantee__item {
  position: relative;
  background-color: green;
}

.guarantee__item:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #DF3D3A;
}/*# sourceMappingURL=index.css.map */