<footer>
    <div class="footer container">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#technology" class="footer__link">
                <span class="footer__text">Characteristisc</span> 
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#history" class="footer__link">
                        <span class="footer__text">History</span> 
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#reviews" class="footer__link">
                        <span class="footer__text">Reviews</span> 
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#order" class="footer__link">
                        <span class="footer__text">Payment and delivery</span> 
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#ability" class="footer__link">
                        <span class="footer__text">Store addresses</span>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="faq" class="footer__link">
                        <span class="footer__text">FAQ</span> 
                    </a>
                </li>
            </ul>
        <!-- <div > -->
            <a class="footer__tel" href="tel:+88001111111"><span class="footer__tel-text">8 (800) 111-11-11</span></a>
            
        <!-- </div> -->
    </div>
</footer>