<footer>
    <div class="footer container">
        <div class="footer__menu">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="footer__link">
                <span>Characteristisc</span> 
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <span>History</span> 
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <span>Reviews</span> 
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <span>Payment and delivery</span> 
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <span>Store addresses</span>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <span>FAQ</span> 
                    </a>
                </li>
            </ul>
        </div>
    <div class="footer__tel">
        <span>8 (800) 111-11-11</span>
    </div>
    </div>
    </footer>