<footer>
    <div class="footer container">
        <div class="footer__menu">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="footer__link">
    
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        
                    </a>
                </li>
            </ul>
        </div>
    <div class="footer__tel">
        <span>8 (800) 111-11-11</span>
    </div>
    </div>
    </footer>