.ability__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 220px;
  }
}

.ability__list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: $desktop) {
    gap: 20px;
  }
}

.ability__text {
  display: flex;
  align-items: center;
  gap: 24px;

  &::before {
    flex-shrink: 0;
    content: '';

    width: 13px;
    height: 13px;

    border-radius: 50%;
    background-color: $primary-color;
  }
}
