// Денис
.design__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 60px;
    flex-direction: row-reverse;

    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    gap: 150px;
  }

  outline: 1px solid tomato;
}

.design__image {
  @media screen and (min-width: $tablet) {
    min-width: 354px;
    max-width: 354px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 590px;
    max-width: 590px;
  }
}

.design__description-wrapper {
  @media screen and (max-width: ($tablet - 0.02px)) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $tablet) {
    padding-right: 60px;
  }
  @media screen and (min-width: $desktop) {
    padding-right: 190px;
  }
}

.design .section__title {
  padding: 0;
  margin-bottom: 32px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.design .section__subtitle {
  margin-bottom: 16px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 20px;
  }
}

.design .section__text {
  &--margin-changer {
    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }
}
