// Руслан
.order {
  &__container {
    position: relative;
  }

  &__wrapper {
    @media screen and (min-width: $desktop) {
      width: 400px;
    }
  }

  &__title {
    @media screen and (min-width: $desktop) {
      width: 400px;
    }
  }

  &__image-list {
    position: relative;
    display: flex;
    justify-content: center;

    margin-bottom: 32px;

    background-color: #1d1d1d;

    @media screen and (min-width: $desktop) {
      position: absolute;
      right: 0;
      top: 0;
      margin-bottom: 0;
    }
  }

  &__image-item:nth-child(2) {
    position: absolute;
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__image {
    width: 100%;
    height: auto;
    background-color: #1d1d1d;
  }

  &__radio-list {
    display: flex;
    gap: 24px;

    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $desktop) {
      gap: 20px;
      margin-bottom: 50px;
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: #1d1d1d;
    border: 2px solid rgba(255, 255, 255, 0.8);

    @media screen and (min-width: $tablet) {
      width: 58px;
      height: 58px;
    }

    @media screen and (min-width: $desktop) {
      width: 70px;
      height: 70px;
    }
  }

  &__label--white {
    background-color: #cfcfcf;
  }

  &__label::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;

    border: 2px solid #101010;
    background-color: #101010;

    transition: border-color 250ms cubic-bezier(0.19, 1, 0.22, 1);

    @media screen and (min-width: $tablet) {
      width: 42px;
      height: 42px;
    }

    @media screen and (min-width: $desktop) {
      width: 54px;
      height: 54px;
    }
  }

  &__label--white::before {
    border: 2px solid #fcfcfc;
    background-color: #fcfcfc;
  }

  &__input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  &__list {
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 52px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;

    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);

    &:last-child {
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
  }

  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.8);
  }

  &__link {
    margin-left: 10px;

    background-color: transparent;
    cursor: pointer;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__price {
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $primary-color;

    @media screen and (min-width: $tablet) {
      font-size: 30px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 54px;
    }
  }
}

.order__input:checked + .order__label::before {
  border-color: $primary-color;
}

.order__image-item.is-hidden {
  opacity: 0;
}
