.container {
  --padding: 20px;

  max-width: $mobile;
  padding-left: var(--padding);
  padding-right: var(--padding);

  @media screen and (min-width: $mobile) {
    margin: 0 auto;
  }



  @media screen and (min-width: $tablet) {
    --padding: 60px;
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    --padding: 190px;
    max-width: $desktop;
  }
}