<section id="ability" class="ability section">
    <div class="container">
        <h2 class="section__title">capable of so much</h2>
        <div class="ability__wrapper">
            <ul class="ability__list">
                <li class="section__text ability__text">Ability to receive calls</li>
                <li class="section__text ability__text">Rich and powerful sound</li>
                <li class="section__text ability__text">Active noise cancellation option</li>
            </ul>
            <ul class="ability__list">
                <li class="section__text ability__text">Unsurpassed microphone system</li>
                <li class="section__text ability__text">Support of voice assistants</li>
                <li class="section__text ability__text">Bose AR Augmented Reality Audio Platform</li>
            </ul>
        </div>
    </div>
</section>
