<section id="design" class="design section">
    <div class="container design__container">
        <div class="design__description-wrapper">
            <h2 class="section__title">Premium design and comfort</h2>
            <h3 class="section__subtitle">11 levels of noise reduction</h3>
            <p class="section__text  design__text">With the new Bose Noise Canceling Headphone 700, you
                can smoothly increase or
                decrease the level of
                noise cancellation. You can be heard perfectly and you hear the interlocutor clearly, even in a noisy
                environment!</p>
            <h3 class="section__subtitle">Comfort up to max level</h3>
            <p class="section__text">Stylish, lightweight stainless steel headband with soft, angled cups
                of headphones
                for comfortable seating. The inner
                side is made of soft gel lining that fits well to the head.</p>
        </div>
        <picture>
            <source srcset="
                              ./images/design-desktop.jpeg    1x,
                              ./images/design-desktop@2x.jpeg 2x" media=" (min-width: 1440px)" />
            <source srcset="
                              ./images/design-tablet.jpeg    1x,
                              ./images/design-tablet@2x.jpeg 2x" media="(min-width: 768px)" />

            <source srcset="
                              ./images/design-mobile.jpeg 1x,
                              ./images/design-mobile@2x.jpeg 2x" />

            <img class="design__image" src="./images/design-desktop.jpeg"
                alt="girl with headphones is listening to music" />
        </picture>

    </div>
</section>