<section class="section faq" id="faq">
    <div class="container">
        <h2 class="faq__title section__title">FAQ</h2>
        <ul class="faq__list">
            <li class="faq__item">
                <div class="faq__label-wrapper">
                    <label class="faq__label" for="checkbox-1">
                        <span class="faq__number">01</span>
                        <span class="faq__subtitle">How to pair with a mobile device?</span>
                    </label>
                </div>
                <input class="faq__checkbox" type="checkbox" id="checkbox-1">
                <div class="faq__content-wrapper">
                    <p class="faq__content">Firstly, make sure your headphones are turned on with a single press of the top
                        button on the back of the right earbud.
                        Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please
                        note that if you
                        connect the headphones for the first time, they will automatically turn on immediately in this
                        pairing mode. Voice
                        prompts will provide you with additional instructions. We recommend that you use the Bose Music app
                        to complete the
                        pairing process, however you can also use the Bluetooth settings on your device.
                    </p>
                </div>
            <li class="faq__item">
                <div class="faq__label-wrapper">
                    <label class="faq__label" for="checkbox-2">
                        <span class="faq__number">02</span>
                        <span class="faq__subtitle">What is the wireless range of the Bose NC 700?</span>
                    </label>
                </div>
                <input class="faq__checkbox" type="checkbox" id="checkbox-2">
                <div class="faq__content-wrapper">
                    <p class="faq__content">Firstly, make sure your headphones are turned on with a single press of the top
                        button on the back of the right earbud.
                        Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please
                        note that if you
                        connect the headphones for the first time, they will automatically turn on immediately in this
                        pairing mode. Voice
                        prompts will provide you with additional instructions. We recommend that you use the Bose Music app
                        to complete the
                        pairing process, however you can also use the Bluetooth settings on your device.
                    </p>
                </div>
            <li class="faq__item">
                <div class="faq__label-wrapper">
                    <label class="faq__label" for="checkbox-3">
                        <span class="faq__number">03</span>
                        <span class="faq__subtitle">How do I fold the Bose NC 700 headphones for storage?</span>
                    </label>
                </div>
                <input class="faq__checkbox" type="checkbox" id="checkbox-3">
                <div class="faq__content-wrapper">
                    <p class="faq__content">Firstly, make sure your headphones are turned on with a single press of the top
                        button on the back of the right earbud.
                        Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please
                        note that if you
                        connect the headphones for the first time, they will automatically turn on immediately in this
                        pairing mode. Voice
                        prompts will provide you with additional instructions. We recommend that you use the Bose Music app
                        to complete the
                        pairing process, however you can also use the Bluetooth settings on your device.
                    </p>
                </div>
            <li class="faq__item">
                <div class="faq__label-wrapper">
                    <label class="faq__label" for="checkbox-4">
                        <span class="faq__number">04</span>
                        <span class="faq__subtitle">Does the guarantee work internationally?</span>
                    </label>
                </div>
                <input class="faq__checkbox" type="checkbox" id="checkbox-4">
                <div class="faq__content-wrapper">
                    <p class="faq__content">Firstly, make sure your headphones are turned on with a single press of the top
                        button on the back of the right earbud.
                        Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please
                        note that if you
                        connect the headphones for the first time, they will automatically turn on immediately in this
                        pairing mode. Voice
                        prompts will provide you with additional instructions. We recommend that you use the Bose Music app
                        to complete the
                        pairing process, however you can also use the Bluetooth settings on your device.
                    </p>
                </div>
        </ul>
    </div>
</section>