<section>
    <div class="feedback container">
        <div class="feedback__header">
            <h2 class="section__title">Feedback</h2>
            <p class="section__text feedback__text">We'll help you find the right headphones for you.</p>
        </div>

        <!-- Feedback form -->
        <div class="feedback-form__cover">
                <form class="feedback-form">
                  <ul class="feedback-form__list">
                    <li class="feedback-form__item">
                      <label class="feedback-form__label">
                        <input 
                          class="feedback-field feedback-field__name" 
                          type="text" 
                          placeholder="Your name" 
                          />
                      </label>
                    </li>
                    <li class="feedback-form__item">
                      <label class="feedback-form__label">
                        <span>Your e-mail</span>
                        <input class="feedback-field feedback-field__email" type="email" />
                      </label>
                    </li>
                    <li class="feedback-form__item">
                      <label class="feedback-form__label">
                        <span>Send us a message</span>
                        <textarea
                          class="feedback-field feedback-field__comment"
                          name="comment"
                          resize
                          ></textarea>
                          <!-- placeholder="Введіть текст" -->
                      </label>
                    </li>
                  </ul>
                  <!-- <div class="accept"> -->
                  <label class="feedback-offer">
                    <input
                      class="feedback-offer__checkbox"
                      type="checkbox"
                      name="feedback-offer"
                      placeholder="feedback-offer"
                    />
                    <svg class="feedback-offer__icon">
                      <use href="./images/feedback.svg#check_empty"></use>
                    </svg>
                    <div class="feedback-offer__text">
                      <span>I agree to the</span>
                      <a
                        class="feedback-offer__link"
                        href="#"
                        target="_blank"
                        rel="noreferrer noopener"
                      >
                        <span> privacy policy</span>
                      </a>
                    </div>
                  </label>
                  <button class="button button--secondary" type="submit">
                    SEND
                  </button>
                </form>
        </div>

    </div>
</section>