<section class="section" id="guarantee">
  <div class="container guarantee__container">
    <div>
      <h2 class="section__title guarantee__title">Guarantees</h2>
      <ul class="guarantee__list">
        <li class="guarantee__item">
          <h3 class="section__subtitle guarantee__subtitle">
            90 Day Money Back Guarantee</h3>
          <p class="section__text guarantee__text guarantee__text--first">
            If you are not 100% satisfied with a product, you can return it back for a full refund.
          </p>
        </li>

        <li class="guarantee__item">
          <h3 class="section__subtitle">
            1 year warranty</h3>
          <p class="section__text guarantee__text  guarantee__text--last">
            Regardless of your country of residence, if your headphones are broken, we will send you new ones.
          </p>
        </li>
      </ul>
    </div>

    <div class="guarantee__wrap-image">
      <picture>
        <source srcset="./images/guarantee-mobile.jpg    1x,
                          ./images/guarantee-mobile@2x.jpg 2x" type="image/jpeg" media="(max-width: 767px)">

        <source srcset="
                      ./images/guarantee-desktop.jpg    1x,
                            ./images/guarantee-desktop@2x.jpg 2x
                          " type="image/jpeg" media="(min-width: 1440px)">
        <source srcset="
                            ./images/guarantee-tablet.jpg    1x,
                            ./images/guarantee-tablet@2x.jpg 2x
                          " type="image/jpeg" media="(min-width: 768px)">

        <img class="guarantee__image" src="./images/guarantee-desktop@2x.jpg" alt="White headphones">
      </picture>
    </div>

  </div>
</section>

<!-- <picture>

          <source srcset="
                            ./images/amar-bose-1-mobile.jpg 1x,
                            ./images/amar-bose-1-mobile@2x.jpg 2x
                          " type="image/jpeg" media="(max-width: 767px)">
          <source srcset="
                            ./images/amar-bose-1-desktop.jpg    1x,
                            ./images/amar-bose-1-desktop@2x.jpg 2x
                          " type="image/jpeg" media="(min-width: 1440px)">
          <source srcset="
                            ./images/amar-bose-1-tablet.jpg    1x,
                            ./images/amar-bose-1-tablet@2x.jpg 2x
                          " type="image/jpeg" media="(min-width: 768px)">

          <img class="history__image" src="./images/amar-bose-1-desktop@2x.jpg" alt="Amar bose wroking">
        </picture> -->