<section id="hero" class="hero section">
  <div class="container">
    <div class="hero__flex">
      <div class="hero__list">
        <ul class="hero__description-list">
          <li class="hero__description-item hero__description-item--first">
            <p class="section__text description__text">
              Noise cancellation headphones that are capable for a lot of things
            </p>
          </li>
          <li class="hero__description-item hero__description-item--second">
            <p class="section__text hero__description-text">
              Up to 20 hours of playback
            </p>
          </li>
        </ul>
        <div class="hero__wrap">
          <h1 class="hero__title">Headphones Bose NC 700</h1>
          <button type="button" class="button button--primary">order</button>
        </div>
      </div>
      <div class="hero__thumb">
        <picture>
          <source srcset="
              ./images/hero-desktop.jpg    1x,
              ./images/hero-desktop@2x.jpg 2x
            " media=" (min-width: 1440px)" />
          <source srcset="./images/hero-tablet.jpg 1x, ./images/hero-tablet@2x.jpg 2x" media="(min-width: 768px)" />

          <source srcset="./images/hero-mobile.jpg 1x, ./images/hero-mobile@2x.jpg 2x" />

          <img class="hero__image" src="./images/hero-desktop.jpg" alt="headphones" />
        </picture>
      </div>
    </div>
  </div>
</section>