<section class="section history" id="history">
  <div class="container history__container">
    <div class="history__wrapper">
      <h2 class="section__title">brand <br />creation <br />history</h2>
      <p class="section__text history__text history__text--with-margin">
        The history of Bose Corporation began with disappointment. In 1956, MIT
        graduate student Amar Bose bought one of the best stereo systems at the
        time for his home. After a few minutes of listening to the audio
        recording, his bewilderment turned to disappointment.
      </p>
      <div class="history__thumb history__thumb--order-1">
        <picture>
          <source srcset="
              ./images/amar-bose-1-mobile.jpg    1x,
              ./images/amar-bose-1-mobile@2x.jpg 2x
            " type="image/jpeg" media="(max-width: 767px)" />
          <source srcset="
              ./images/amar-bose-1-desktop.jpg    1x,
              ./images/amar-bose-1-desktop@2x.jpg 2x
            " type="image/jpeg" media="(min-width: 1440px)" />
          <source srcset="
              ./images/amar-bose-1-tablet.jpg    1x,
              ./images/amar-bose-1-tablet@2x.jpg 2x
            " type="image/jpeg" media="(min-width: 768px)" />

          <img class="history__image" src="./images/amar-bose-1-desktop@2x.jpg" alt="Amar bose wroking" />
        </picture>
      </div>
      <p class="section__text history__text">
        From Amar's point of view, the sound was so flat and unnatural that it
        was better not to listen to the music at all than to listen to it in
        such a distorted form.
      </p>
      <p class="section__text history__text history__text--order-2">
        Bose's frustration grew into a firm determination to build audio
        equipments that would reproduce sound with impeccable accuracy and
        naturalness
      </p>
    </div>

    <figure class="history__figure">
      <div class="history__thumb history__figure-thumb">
        <picture>
          <source srcset="
              ./images/amar-bose-2-mobile.jpg    1x,
              ./images/amar-bose-2-mobile@2x.jpg 2x
            " type="image/jpeg" media="(max-width: 767px)" />
          <source srcset="
              ./images/amar-bose-2-desktop.jpg    1x,
              ./images/amar-bose-2-desktop@2x.jpg 2x
            " type="image/jpeg" media="(min-width: 1440px)" />
          <source srcset="
              ./images/amar-bose-2-tablet.jpg    1x,
              ./images/amar-bose-2-tablet@2x.jpg 2x
            " type="image/jpeg" media="(min-width: 768px)" />

          <img class="history__image" src="./images/amar-bose-2-desktop@2x.jpg" alt="Amar bose photo" />
        </picture>
      </div>
      <div class="history__figure-wrapper">
        <blockquote class="history__figure-blockquote">
          Never stop dreaming. Always dream of the best, and think about how to
          achieve it.
        </blockquote>
        <cite class="hostory__figure-cite">
          Amar Bose is a company founder
        </cite>
      </div>
    </figure>
  </div>
</section>