<section class="section order">
    <div class="container">
        <h2 class="order__title section__title">bose nc 700</h2>
        <ul>
            <li>
                <img src="" alt="black headphones">
            </li>
            <li>
                <img src="" alt="white headphones">
            </li>
        </ul>
        <ul>
            <li>
                <input class="" type="radio">
            </li>
            <li>
                <input class="" type="radio">
            </li>
        </ul>
        <ul>
            <li>
                <p></p>
                <button type="button"></button>
            </li>
            <li>
                <p></p>
                <button type="button"></button>
            </li>
            <li>
                <p></p>
                <button type="button"></button>
            </li>
        </ul>
        <p></p>
        <button class="bntton" type="button"></button>
    </div>
</section>