<section id="reviews" class="reviews section">
    <div class="container reviews__container reviews__container--padding-changer">
        <h1 class="section__title reviews__title">reviews</h1>
        <div class="reviews__video-container">
            <iframe class="reviews__video" width="920" height="590" src="https://www.youtube.com/embed/VqP11Ma_2Fk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <h3 class="section__subtitle reviews__subtitle">Bose Сorporation</h3>
        <p class="section__text reviews__text">
            Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup,
            Bose Noise
            Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or
            just shut out
            the world for a few moments and relax.
        </p>
        <!-- <form class="reviews__slider-holder" name="slider-place" action="#">
            <label class="reviews__toggle-label"><input type="radio"
                    class="rievews__slider-toggle rievews__slider-toggle--first-is-chosen" name="slider-toggle-1">
                <span class="reviews--slider-number">01</span>
            </label>
            <label class="reviews__toggle-label"><input type="radio"
                    class="rievews__slider-toggle rievews__slider-toggle--second-is-chosen" name="slider-toggle-2">
                <span class="reviews--slider-number">02</span>
            </label>
            <label class="reviews__toggle-label"><input type="radio"
                    class="rievews__slider-toggle rievews__slider-toggle--third-is-chosen" name="slider-toggle-4">
                <span class="reviews--slider-number">03</span>
            </label>
            <label class="reviews__toggle-label"><input type="radio"
                    class="rievews__slider-toggle rievews__slider-toggle--forth-is-chosen" name="slider-toggle-5">
                <span class="reviews--slider-number">04</span>
            </label>

        </form> -->

        <form class="reviews__slider-holder" name="slider-place" action="#">

            <input type="radio" class="rievews__slider-toggle rievews__slider-toggle--first-is-chosen"
                name="slider-toggle-1"><label class="reviews__toggle-label" for="slider-toggle-1">01</label>

            <input type="radio" class="rievews__slider-toggle rievews__slider-toggle--second-is-chosen"
                name="slider-toggle-2"><label class="reviews__toggle-label" for="slider-toggle-2">02</label>


            <input type="radio" class="rievews__slider-toggle rievews__slider-toggle--third-is-chosen"
                name="slider-toggle-3"><label class="reviews__toggle-label" for="slider-toggle-3">03</label>


            <input type="radio" class="rievews__slider-toggle rievews__slider-toggle--forth-is-chosen"
                name="slider-toggle-4"><label class="reviews__toggle-label" for="slider-toggle-4">04</label>



        </form>
    </div>


</section>
