<section id="reviews" class="reviews section">
  <div class="container reviews__container">
    <h2 class="section__title reviews__title">reviews</h2>
    <div class="reviews__video-container">
      <iframe class="reviews__video" width="920" height="590" src="https://www.youtube.com/embed/VqP11Ma_2Fk"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <h3 class="section__subtitle reviews__subtitle">Bose Сorporation</h3>
    <p class="section__text reviews__text">
      Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup,
      Bose Noise
      Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or
      just shut out
      the world for a few moments and relax.
    </p>
    <form class="reviews__slider-holder" name="slider-place" action="#">
      <label class="reviews__toggle-label">
        <input type="radio" class="rievews__slider-toggle" name="slider-toggle" value="first" checked>
        <span class="reviews__slider-number">01</span>
      </label>
      <label class="reviews__toggle-label ">
        <input type="radio" class="rievews__slider-toggle" name="slider-toggle" value="second">
        <span class="reviews__slider-number reviews__slider-number--prefixed">02</span>
      </label>
      <label class="reviews__toggle-label ">
        <input type="radio" class="rievews__slider-toggle" name="slider-toggle" value="third">
        <span class="reviews__slider-number reviews__slider-number--prefixed">03</span>
      </label>
      <label class="reviews__toggle-label ">
        <input type="radio" class="rievews__slider-toggle" name="slider-toggle" value="forth">
        <span class="reviews__slider-number reviews__slider-number--prefixed">04</span>
      </label>
    </form>
  </div>

</section>