
<section class="section sound" id="sound">
    <div class="container">
        <h2 class="sound-title section__title">The luxury of silence</h2>
        <div class="sound__picture">
        <picture>
            <source srcset="
                              ./images/sound-mobile.jpg    1x,
                              ./images/sound-mobile@2x.jpg 2x
                            " type="image/jpg" media="(max-width: 767px)" />
            <source srcset="
                                ./images/sound-tablet.jpg 1x,
                                ./images/sound-tablet@2x.jpg 2x
                                " type="image/jpg" media="(min-width: 768px) and (max-width: 1439px)" />
            <source srcset="
                               ./images/sound-desktop.jpg    1x,
                               ./images/sound-desktop@2x.jpg 2x
                            " type="image/jpg" media="(min-width: 1440px)" />
            <img class="sound__image" src="./images/sound-desktop.jpg" alt="Headphones" />
        </picture>
        </div>

        <div class="sound__wrap">
            <div class="sound__description">
        <h3 class="section__subtitle">Maximum enjoyment</h3>
        <p class="section__text">In order to create a comfortable atmosphere - raise the level by level from the
            "transparent" mode to the maximum
            blocking of sounds. The conversation mode can be activated in one click using
            a special button.</p>
            </div>

            <div class="sound__description">
        <h3 class="section__subtitle">Crystal sound</h3>
        <p class="section__text">The speaker system and brand name active equalizer are able to provide high-quality and powerful sound at any
            volume
            level. You can be sure of no distortion and crystal clear at high and low frequencies.</p>
            </div>
        </div>

    </div>
</section>
