
<section class="section technology" id="technology">
    <div class="container technology__container">
        <div class="technology__content-wrap">
            <h2 class="section__title">Bose AR</h2>
            <h3 class="section__subtitle">Brand name technology</h3>
            <p class="technology-text section__text">Bose AR is a unique audio platform augmented reality, that opens before
                you new facets of sound. It allows you
                to stay connected to the real world and immerse yourself in the virtual universe
                at the same time.</p>
        </div>
        <picture>
            <source srcset="
                             /src/images/bose-mobile.jpg 1x,
                             /src/images/bose-mobile@2x.jpg 2x
                            " media="(max-width: 767px)" />
            <source srcset="
                             /src/images/bose-tablet.jpg 1x,
                             /src/images/bose-tablet@2x.jpg 2x
                            " media="(min-width: 768px) and (max-width: 1439px)"  />
            <source srcset="
                            /src/images/bose-desktop.jpg 1x,
                            /src/images/bose-desktop@2x.jpg 2x
                            " media="(min-width: 1440px)" />
            <img class="technology__image" src="/src/images/bose-desktop.jpg" alt="Headphones on girl's head" />
        </picture>
    </div>
</section>