<section class="section technology" id="technology">
    <div class="container technology_container">
        <h2 class="technology-title section__title">Bose AR</h2>
        <h3 class="technology-subtitle section__subtitle">Brand name technology</h3>
        <p class="technology-text section__text">Bose AR is a unique audio platform augmented reality, that opens before
            you new facets of sound. It allows you
            to stay connected to the real world and immerse yourself in the virtual universe
            at the same time.</p>
        <picture>
            <source srcset="
                     /src/images/bose-mobile.jpg 1x,
                     /src/images/bose-mobile@2x.jpg 2x
                    " media="(max-width: $tablet - 1px)" />
            <source srcset="
                     /src/images/bose-tablet.jpg 1x,
                     /src/images/bose-tablet@2x.jpg 2x
                    " media="(min-width: $tablet) and (max-width: $desktop - 1px)" />
            <source srcset="
                    /src/images/bose-desktop.jpg 1x,
                    /src/images/bose-desktop@2x.jpg 2x
                    " media="(min-width: $desktop)" />
            <img class="" src="/src/images/bose-desktop.jpg" alt="Headphones" />
        </picture>
    </div>
</section>