// Ігор
.footer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 320px) {
    padding-bottom: 52px;
  }
  @media screen and (max-width: ($tablet - 1)) {
    flex-direction: column;
    height: 207px;
    padding-bottom: 52px;
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    height: 152px;
    padding-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    height: 94px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 74px;
  }

  &__list {
    list-style: none;
    display: grid;

    @media screen and (max-width: ($desktop - 1px)) {
      grid-template-areas:
        '1 4'
        '2 5'
        '3 6';
      grid-auto-flow: column;
      grid-auto-columns: 1fr 1fr;
      row-gap: 24px;

      @media screen and (max-width: $mobile) {
        max-width: 100%;
        margin-bottom: 52px;
        row-gap: 24px;
      }

      @media screen and (max-width: ($tablet - 1)) {
        max-width: 100%;
        margin-bottom: 52px;
        row-gap: 24px;
      }
    }
    @media screen and (min-width: $desktop) {
      grid-template-areas: '1 2 3 4 5 6';
      height: 22px;
      column-gap: 50px;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    justify-content: start;
  }
  &__item:nth-last-child(-n + 3) {
    @media screen and (max-width: ($tablet - 1)) {
      justify-content: end;
    }
  }

  &__link {
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.25;
    color: rgba($primary-text-color, 0.3);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $primary-color;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }

  &__tel {
    margin: 0;
    padding: 0;

    display: inline-flex;
    white-space: nowrap;

    @media screen and (max-width: ($tablet - 1)) {
      align-items: self-start;
    }

    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      align-items: self-end;
    }

    @media screen and (min-width: $desktop) {
      width: 100%;
      height: 22px;
      justify-content: end;
      align-items: center;
    }
  }

  &__tel-text {
    margin: 0;
    padding: 0;
    display: flex;
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: rgba(255, 255, 255, 0.8);
    align-items: center;
  }
}
