// Ігор
.footer{

    &__menu{
        display: grid;
        
        @media screen and (max-width = 1339px) {
            grid-template-areas: 
            "characteristics payment"
            "history store-addresses"
            "reviews faq" 
            ;
        }
        @media screen and (min-width = $desktop) {
            grid-template-areas: 
            "characteristics payment history store-addresses reviews faq"
            ;
        }

    }





    &__list{
        list-style: none;

    }

    &__item{


    }

&__link{
    text-decoration: none;
}



}