// Ігор
.footer{

    &__menu{
        

    }





    &__list{
        list-style: none;
        display: grid;
        
        @media screen and (max-width = 767px) {
            grid-template-areas: 
            "characteristics payment"
            "history store-addresses"
            "reviews faq" 
            ;
            grid-auto-flow: column;
            grid-auto-columns: 1fr 1fr;

        }
        @media screen and (min-width = 768px) {
            grid-template-areas: 
            "characteristics payment history store-addresses reviews faq"
            ;
        }
    }

    &__item{


    }

&__link{
    text-decoration: none;
}



}